 <mat-toolbar>
  <div class="example-button-row">
  <button mat-button (click)="manageStudent()">Quản lý Sinh viên</button>
  <button mat-button (click)="manageCourse()">Quản lý khóa học</button>
  <button mat-button (click)="manageUser()">Quản lý Người dùng</button>

  </div>
</mat-toolbar> 

 <div class="demo-button-container">
    <button
        mat-raised-button
        [disabled]="!dataSource.length"
        (click)="removeData()"
        class="demo-button">
      Remove data
    </button>
  </div> 
  
   <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table"> 
     <!-- Id Column  -->
     <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container> 
  
     <!-- First Name Column  -->
     <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let element">{{element.firstName}}</td>
    </ng-container> 
  
     <!-- Lát Name Column  -->
     <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let element">{{element.lastName}}</td>
    </ng-container> 
  
     <!-- Email Column  -->
     <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{element.email}}</td>
    </ng-container> 

     <!-- Date Of Birth Column  -->
     <ng-container matColumnDef="dateOfBirth">
      <th mat-header-cell *matHeaderCellDef>Date Of Birth</th>
      <td mat-cell *matCellDef="let element">{{element.dateOfBirth}}</td>
    </ng-container> 

     <!-- Address Column  -->
     <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let element">{{element.address}}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> 
  