<div mat-dialog-content>
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput [(ngModel)]="data.firstName">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input matInput [(ngModel)]="data.lastName">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="data.email">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Date Of Birth</mat-label>
    <input matInput [(ngModel)]="data.dateOfBirth">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Address</mat-label>
    <input matInput [(ngModel)]="data.address">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button  mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data"  cdkFocusInitial>Ok</button>
</div>

